:root {
	--pink: #ffdbbc;
}

* {
	font-family: 'Prompt', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing:  border-box;
	text-decoration: none;
}

h1, h2, h3 {
	font-family: 'Mate SC', serif;
}

*::selection {
	background:  var(--pink);
	color: #333;
}

html {
	font-size: 62.5%;
/*	overflow-x: hidden;*/
}

body {
	overflow-x: hidden;
/*	height: 200rem;*/
}

html::-webkit-scrollbar {
	width: 1.4rem;
}

html::-webkit-scrollbar-track {
	background: #333;
}

html::-webkit-scrollbar-thumb {
	background: #ffdbbc;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	background: #ffdbbc;
	padding: 1.5rem 10%;
	box-shadow: 0 .3rem 2rem rgba(0, 0, 0, .1);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo img{
	height: 5rem;
}

.navbar {
	text-transform: capitalize;
}

.navbar ul {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
}

.nav-options {
	margin-left: 3rem;
}

.nav-options a {
	font-size: 1.7rem;
	color: #333;
}

.nav-options a:hover {
	color: white;
}

/*********MEDIA QUERIES*********/
@media only screen and (max-width: 768px) {

	html {
		font-size: 55%;
	}

	.lines {
		width: 25px;
		height: 3px;
		background: #333;
		margin: 5px;
	}

	.navbar {
		position: fixed;
		top: 8rem;
		left: 0;
		width: 100%;
		background: var(--pink);
		border-top: .2rem solid rgba(0, 0, 0, .1);
		tranform: scaleY(0);
		transform-origin: top;
		opacity: 0;
		pointer-events: none;
	}

	.navbar ul {
		flex-flow: column;
		padding: 2rem;
	}

	.nav-options {
		margin: 1.5rem;
		width: 100%;
	}

	.nav-options a{
		display: block;
		color: #333;
		padding-left: 2rem;
		border-left: .2rem solid #333;
		font-size: 2rem;
	}

	.nav-options a:hover {
		color: white;
	}

	.nav-toggle {
		transform: scaleY(1);
		opacity: 1;
		pointer-events: auto;
	}
}





/*********HOME SECTION STYLES*********/

section {
	min-height: 100vh;
	padding: 1rem 10%;
	padding-top: 8.5rem;
}

.home {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	position: relative;
	z-index: 0;
	overflow: hidden;
}


.home::before,
.home::after {
	content: '';
	position: absolute;
	top: 5rem;
	right: -6rem;
	background: var(--pink);
	height: 40rem;
	width: 70rem;
	border-radius: 3rem;
	transform: rotate(-45deg);
	z-index: -2;
	animation: animate 1s linear 1;
}

@keyframes animate {
	0% {
		transform: rotate(45deg) translateY(-40rem);
	}
}

.home::before {
	top: -7rem;
	background: white;
	box-shadow: 0 1rem 4rem rgba(0, 0, 0, .1);
	z-index: -1;
	content: 'WE USE SOYBEAN OIL AND CHICKEN BROTH';
	font-size: 1rem;
}

.image {
	flex: 1 1 39rem;
}

.image img {
	width: 100%;
}

.content {
	flex: 1 1 39rem;
}

.name {
	font-size: 7rem;
	color: #bf452f;
	text-shadow: -5px 3px 4px #e4ad45;
}

.content h3 {
	font-size: 2.5rem;
	color: #666;
	padding: 1rem 0;
}

.btn {
	font-size: 1.7rem;
	padding: .7rem 4rem;
	border-radius: 5rem;
	margin-top: 1rem;
	background: none;
	color: #333;
	cursor: pointer;
	text-transform: uppercase;
	border: .2rem solid #e4ad45;
}

.btn:hover {
	background: #e4ad45;
}


/*********MEDIA QUERIES*********/


@media only screen and (max-width: 991px) {
	
	html {
		font-size: 55%;
	}

	.home::before,
	.home::after {
		display: none;
	}

	.row {
		flex-wrap: wrap;
	}

}

@media only screen and (max-width: 768px) {
	
	.content {
		text-align: center;
	}

}

@media only screen and (max-width: 500px) {
	
	html {
		font-size: 50%;
	}

	section {
		padding: 1rem 5%;
		padding-top: 8.5rem;
	}

}



/*********MENU SECTION*********/

.heading {
	text-align: center;
	font-size: 4rem;
	padding: 0.5rem;
	color: #333;	
}

.heading span {
	color: #bf452f;
}

.row {
	display: flex;
	align-items: center;
	justify-content: center;
}

.row .column {
	margin: 1rem;
	padding: 1.2rem;
	border-radius: 1rem;
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

#specials {
	flex: calc(855/320)px;
}

#hotbar {
	flex: calc(904/740)px;
}

#meal {
	flex: calc(904/723)px;
}

#chefs {
	flex: calc(904/696)px;
}

.row .column img:hover {
	transform: scale(1.1);
}

.row .column img {
	width: 100%;
	object-fit: cover;
}

/*********POPULAR SECTION*********/

#popular { /*change background image*/
	background: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .7)), url(../images/os-panda.jpg) no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

#popular .box-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

#popular .box-container .box {
	background: #fff;
	width: 30rem;
	padding: 2rem;
	margin: 2rem;
	border-radius: 1rem;
	box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .2); 
	text-align: center;
}

.box img {
	height: 20rem;
	width: 100%;
	object-fit: cover;
}

.box h3 {
	color: #333;
	font-size: 3rem;
}

.box .price {
	color: #666;
	font-size: 2rem;
}

.box:hover {
	transform: scale(1.02);
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, .2);
}


/*********LOCATION SECTION*********/


#location {
	padding: 15rem 10rem;
	width: 100%;
	background: var(--pink);
}

.location-content {
	height: auto;
	width: 100%;
	display: flex;
	justify-content: center;
	border-radius: 10px;
	box-shadow: 0 0 3rem rgba(0, 0, 0, .9);
}

.left {
	background-color: #e4ad45;
	width: 100%;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.maps-title {
	font-size: 4rem;
	color: #333;
	margin-bottom: 10px;
	text-align: center;
}

.right {
	background-color: white;
	width: 100%;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.right-img {
	height: 20rem;
	width: 20rem;
	position: absolute;
	top: -11rem;
	left: -11rem;
}

.hours-section {
	padding: 5rem;
	width: 100%;
	text-align: center;
}

.hours {
	list-style: none;
	color: #333;
	font-size: 2rem;
}

.hours span {
	color: #bf452f;
}

.hours-heading {
	font-size: 4rem;
	color: #e4ad45;
	margin-bottom: 10px;
}

/*********MEDIA QUERIES*********/

@media only screen and (max-width: 991px) {
	
	.right-img {
		display: none;
	}

	.maps-title,
	.hours-heading {
		font-size: 2.2rem;
	}

	.hours {
		font-size: 1.3rem;
	}

}

@media only screen and (max-width: 768px) {
	
	.location-content {
		flex-direction: column;
		border-radius: none;
		box-shadow: none;
	}

	.left {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		background-color: var(--pink);
	}

	.right {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

}

/*contact info*/

.contact-us {
	position: relative;
	padding: 50px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.contact-content {
	max-width: 800px;
	text-align: center;
}

.contact-content h2 {
	font-size: 4rem;
	font-weight: 600;
	color: #e4ad45;
}

.container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
}

.contactInfo {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.contactBox {
	position: relative;
	padding: 20px 0;
	display: flex; 
}

.icon {
	min-width: 60px;
	height: 60px;
	background: #e4ad45;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	padding: 2rem;
}

.text { /*styling for address, food options, phone*/
	display: flex;
	margin-left: 20px;
	font-size: 1.5rem;
	color: #333;
	flex-direction: column;
}


.text h3 { 
	font-weight: 600;
	color: #bf452f;
}

.contactForm {
	width: 40%;
	padding: 40px;
	background: var(--pink);
}

.contactForm h2 { /*styling for send message*/
	font-size: 3rem;
	color: #333;
}

.inputBox {
	margin-top: 1.5em;
}

.form-control, 
textarea {
	width: 100%;
	padding: 5px 0;
	font-size: 1.2em;
	border: none;
	border-bottom: 2px solid #333;
	outline: none;
	resize: none;
	color: #333;
	font-weight: 600;
	letter-spacing: .1em;
}

.form-label {
	display: block;
	font-size: 1.35rem;
	font-weight: 600;
}

.submitBtn {
	background: #333;
	color: #fff;
	border: none;
	cursor: pointer;
	padding: 10px 50px;
	font-size: 1.5rem;
	text-transform: uppercase;
}

/* to prevent double scrollbar */
@media only screen and (max-width: 400px) {
	html {
		overflow-x: hidden;
	}

	body {
		overflow-x: hidden;
	}
}

@media only screen and (max-width: 991px) {

	.contact-us {
		padding: 50px;
	}

	.container {
		flex-direction: column;
	}
	.contactForm {
		width: 100%;
	}

	.contactInfo {
		width: 100%;
		margin-bottom: 40px;
	}
}
